<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Teams Index</title>
</head>
<body>
	<h1>Your Teams</h1>
	<ul>
		<% teamDocs.forEach(teamDoc => { %>
		 <li><a href="/teams/<%= teamDoc._id  %>"><%= teamDoc.name %></a></li>
		<% }) %>
	</ul>
</body>
</html>