<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams App</title>
</head>
<body>
    <h1>Welcome to the Teams app!</h1>
    <p>An app for collecting an storing your favorite teams</p>

    <a href="/teams/new">Add a Team</a>
    <a href="/teams">Your Teams</a>
</body>
</html>